---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import { Picture } from "astro:assets";
---

<BaseLayout
  title="About | Ben Shuster"
  description="About Ben Shuster and his journey to becoming a full stack developer."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="A lil bit about me"
        tagline="Thanks for checking out my site! Here's a little bit about me."
      >
        <Picture
          width="200"
          height="200"
          class="spinanimate"
          src={import.meta.env.BASE_URL + "/assets/goofy.jpg"}
          alt="Ben Shuster in the snow"
        />
      </Hero>
      <section>
        <h2 class="section-title">Background</h2>
      </section>
      <div class="content">
        <p>
          Starting out my educational journey majoring in BioMedical Engineering
          at the New Jersey Institute of Technology, I thought I was going to
          live a very different life. It didnt take long for me to realize that
          I was more interested in the technology aspect of the field. Having
          worked on small websites for my engineering projects, and even getting
          a student job with the campus CRM & Student Information Systems team,
          I realized that I was more interested in the technology aspect of the
          field. The only logical thing to do was to switch my major to Web &
          Information Systems (WIS).
        </p>
        <p>
          I decidede to go into WIS because I wanted to learn by doing - and I
          got what I was expecting. All I can say is that I am grateful for the
          experiences I have had and the people I have met along the way. I have
          been able to work on a variety of projects and have gotten familiar
          with all sorts of technologies. I can proudly say that I am a more
          then just a full stack developer. I have experience with
          cybersecurity, data analysis, User Experience, and so much more that
          does not fall under the umbrella of a typical developer.
        </p>
      </div>

      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>B.S. in Web & Information Systems</p>
          <i>New Jersey Institute of Technology</i>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  @media (prefers-reduced-motion: reduce) {
    .spinanimate {
      animation: none !important;
    }
  }
  .spinanimate {
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    border-radius: 100%;
    box-shadow: var(--shadow-md);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    width: 10em;
    margin: 10px auto;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
