---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

let projects = (await getCollection("work"))
  .filter((project) => !project.data.tags.includes("Schedule Builder Series"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
projects = [
  ...projects,
  {
    id: "schedule-builder",
    collection: "work",
    data: {
      title: "Schedule Builder Series",
      description:
        "Learn about the various projects Ben Shuster has worked on to fuel his unhealthy obsession with Schedule Builder.",
      tags: ["Schedule Builder Series"],
      publishDate: new Date(),
      img: "/personal-site/assets/SB/NJIT_SB.png",
      img_alt: "Schedule Builder logo",
    },
  },
];
---

<BaseLayout
  title="My Work | Ben Shuster"
  description="Learn about some of Ben Shuster's most recent projects."
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        taglines={[
          "See my most recent projects below to get an idea of my past experience.",
        ]}
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
  </div>
</BaseLayout>
