<button
  class="pill"
  onclick="this.style.backgroundColor = `hsl(${Math.random() * 360}, 100%, ${document.documentElement.classList.contains('theme-dark') ? 30 : 50}%)`"
  style="cursor: pointer;user-select: none;"
>
  <slot />
</button>
<style>
  .pill {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--accent-text-over);
    border: 1px solid var(--accent-regular);
    background-color: var(--accent-regular);
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.35;
    white-space: nowrap;
    transition: background-color 0.2s;
  }
  .pill:active {
    transform: scale(0.95);
  }
</style>
